/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Cabeçalho */
  .header {
    background-color: #288cb4; /* Cor de fundo do cabeçalho */
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Logo */
  .logo {
    display: block;
    margin: 0 auto;
    height: 100px; /* Ajuste a altura conforme necessário */
  }
  
  /* Conteúdo principal */
  .main-content {
    text-align: center;
    padding: 50px;
  }
  
  /* Botões de módulo */
  .module-button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
  }

  /* Rodapé */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Estilos para a tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilos para o input e o botão */
  input#searchInput {
    padding: 10px;
    margin-right: 15px;
    margin-left: 150px;
    width: 300px;
  }
  
  button {
    padding: 10px 15px;
    cursor: pointer;
  }
  